.listados {
  overflow:hidden;
  padding:25px;

}

.white{
  color: white !important;
}

.dark{ background-color:#f2f2f2;}


.listados h1,
.titulote{ text-align:center;
  font-family:bold2;
  font-size:100px;
  margin-bottom:30px;
  color:#0c496c;
  letter-spacing:-2px;}

.listados p,
.resumensote{ font-size:25px;
  line-height:1.3em;
  text-align:center;
  max-width:1000px;
  margin:0 auto 40px auto;
  border-bottom:dashed 3px #48cbfd;
  padding-bottom:40px;
  color:#333;}


@media only screen and (max-width:800px) {

  .listados h1,
  .titulote{
    font-size:50px;

  }

  .listados p,
  .resumensote{ font-size:20px;
  }



}


/*
azul claro  48cbfd
azul 0c496c

*/


.listados a.item{ display:block;
  float:left;
  width:23.5%;
  height:400px;
  margin:0 2% 2% 0;
  position:relative;
  cursor:pointer;
  overflow:hidden;
  border:solid 1px #e7e7e7;
  background-color:#FFF;
  box-sizing: border-box;

}




/*LAZYLOAD estilos para que funcione el plugin*/
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}


/*cerro  LAZYLOAD estilos para que funcione el plugin*/

.listados a.item:nth-of-type(4n){ margin-right:0;}







@media only screen and (max-width:980px) {

  .listados a.item{ display:block;
    float:left;
    width:48%;
    height:440px;
    margin:0 4% 2% 0;
  }


  .listados a.item:nth-of-type(2n){ margin-right:0;}


}



@media only screen and (max-width:600px) {

  .listados a.item{
    float:none;
    width:100%;
    height:550px;
    margin:0 0 20px 0;
  }


  .listados a.item:nth-of-type(2n){ margin-right:0;}


}





.listados a.item img{ width:100%;}


.listados a.item #info{
  box-sizing: border-box;
  text-align:left;
  padding:15px;
}

.listados a.item #info #titulo{ font-family:bold2; font-size:25px;
  line-height:1em;
  margin-bottom:10px;
  color:#005a82;
  text-transform:lowercase;}


@media only screen and (max-width:1280px) {

  .listados a.item #info #titulo{ font-size:20px;
    margin-bottom:10px;
  }

}

.listados a.item #info #resumen{ color:#666;
  font-size:13px;
  line-height:1.3em;}

.listados a.item #categoria{display:none;}


.listados a.item .tapita{ position:absolute;
  z-index:2;
  width:100%;
  height:100%;
  background-size:auto 100%;
  transition:top 0.3s linear;
  top:0;
  left:0;
  color:#fff;
  overflow:hidden;}

.listados a.item .tapita h3.white{
  color: white;
}



@media only screen and (max-width:500px) {

  .listados a.item{ display:block;
    float:left;
    width:100%;
    height:auto;
    margin:0 0 20px 0;
    background-color:#f9f9f9;
  }

  .listados a.item .tapita{ display:none;}


}





.listados a.item:hover .tapita{ top:-100%;}
.listados a.vuelva:hover .tapita{ top:0;}

.listados a.item .tapita h4 {
  font-family: bold;
  font-size: 20px;
  color: #ffffff;
  //  text-shadow: 1px 3px 1px #ffffff;
  background-color: rgba(0, 0, 0, 0.51);
  font-weight: 900;
  padding: 25px;
  position: absolute;
  text-transform: uppercase;
//  left: 25px;
  top: 25px;
  width: 100%;
  z-index: 2;

}


@media only screen and (max-width:1245px) {

  .listados a.item .tapita h4{
    font-size:35px;


  }


}

.listados a.item .tapita:after{display:block;
  position:absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  width:30px;
  height:30px;
  line-height:30px;
  font-size:30px;
  text-align:center;
  z-index:2;

}

.listados a.vuelva .tapita:after{
  z-index:2;

}

/*tapa de color de los listados*/
.listados a.item .tapita:before{top:0;
  left:0;
  width:100%;
  height:100%;
  position:absolute;
  display:block;
  content:"";
  background-color: #497dfd;
  opacity:0.7;
  transition:all 0.3s ease-out 0s;
  z-index:1;}


.listados a.vuelva .tapita:before{
  background-color:#999!important;
}


.listados a.vuelva:hover .tapita:before{
  background-color:#151515!important;
}

.listados a.item:nth-of-type(2n) .tapita:before{
//  background-color:#ff392f;
  background-color:#79c4ff;
}




/*cerro listados **********************************/